/* 
:root{
    -webkit-font-smoothing:antialiased;
} */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@import "tailwindcss";

.input-wrapper {
  position: relative; /* required for pseudo */
  flex: 1;
  padding-left: 10px;
}

.input-wrapper::before {
  content: "";
  position: absolute;
  left: 0; /* at the left edge of wrapper */
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 60%; /* adjust length of pipe */
  background: #d6dfea; /* gray color */
}
